/*bootstrap correction */

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus  {
    color: #000;
    background-color: #D0F4F8;
}

body{
    background-color:#027F8B;
}

a{
    color:#75EDF8;
}

.title{
    font-size: 50px;
    color: #D0F4F8;
}

.content-my{
    border-style:solid;
    border-width:1px;
    border-radius: 5px;
    border-color: #E0E0E0;
    border-color: #D0F4F8;
    background-color:#75EDF8 ;
}

.panel-default>.panel-heading{
    background-color:#027F8B;
    color: #D0F4F8;
}

.panel-body {
    background-color: #D0F4F8;
    color: #027F8B;
}

.title{
    font-size: 50px;
    color: #D0F4F8;
}

.copyright{
    color:#D0F4F8;
}


/*
.top-line{
    background-color:#E0E0E0 ;
}
*/