body{
    background-color:#E0E0E0;
}

.title{
    font-size: 50px;
}

.content-my{
    border-style:solid;
    border-width:1px;
    border-radius: 5px;
    border-color: #E0E0E0;
    border-color: #428bca;

    background-color:#F5F5F5 ;
}

/*
.top-line{
    background-color:#E0E0E0 ;
}
*/