/*bootstrap correction */

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus  {
    color: #000;
    background-color: #FFD573;
}

body{
    background-color:#A67400;
}


a{
    color:#FFD573;
}

#toggleButton{
    color:#A67400;
}

.title{
    font-size: 50px;
    color: #FFD573;
}

.content-my{
    border-style:solid;
    border-width:1px;
    border-radius: 5px;
    border-color: #FFD573;
    background-color:#FFD573;
}

.panel-default>.panel-heading{
    background-color:#A67400;
    color: #FFD573;
}

.panel-body {
    color: #A67400;
}


